{% extends "base.html" %}

{% block nav_bar %}{% endblock %}
{% block content %}
    {% if form.errors %}
    <p class="error">Неправельно введений логін або пароль</p>
    {% endif %}

    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h1 class="text-center">Login</h1>
          </div>
          <div class="modal-body">
              <form class="form col-md-12 center-block" method="POST">
                  {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="username" class="form-control input-lg" placeholder="Login">
                </div>
                <div class="form-group">
                  <input type="password" name="password" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                  <span class="pull-right"><a href="{% url 'webbooks:registration' %}">Register</a></span>
                </div>
              </form>
          </div>
          <div class="modal-footer">
          </div>
      </div>
      </div>
    </div>
{% endblock %}