{% extends "base.html" %}

{% block nav_bar %}{% endblock %}
{% block content %}
<br><br>
<div class="container">
  <div class="row">
  	<div class="col-md-6">
        {% if form.errors %}
        <p class="error">Error</p>
        {% endif %}
        <form class="form-horizontal" action="" method="POST">
            {% csrf_token %}
        <fieldset>
        <div id="legend">
          <legend class="">Register</legend>
        </div>
        <div class="control-group">
            {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">Username</label>
            <div class="controls">
            {{ form.username }}
            </div>
        </div>

        <div class="control-group">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">E-mail</label>
            <div class="controls">
            {{ form.email }}
            </div>
        </div>

        <div class="control-group">
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">Password</label>
            <div class="controls">
            {{ form.password1 }}
            </div>
        </div>

        <div class="control-group">
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">Password (Confirm)</label>
            <div class="controls">
            {{ form.password2 }}
            </div>
        </div>


        <div class="control-group">
          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Register</button>
          </div>
        </div>
        </fieldset>
        </form>
    </div>
  </div>
</div>
{% endblock %}
