<!DOCTYPE html>
{% load staticfiles %}
{% load books_tag %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Bookshelf</title>

    {% block base_css %}
    <!-- Bootstrap Core CSS -->
        <link href="{% static 'book_store/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'webbooks/css/template.css' %}" type="text/css" media="all" />

    {% endblock %}

    {% block rating_css %}
        <link href="{% static 'kartik_bootstrap_rating/css/star-rating.min.css' %}" rel="stylesheet">
    {% endblock %}

    {% block css %}{% endblock %}


</head>
<body>
    {% block nav_bar %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'webbooks:books_list' %}">Bookshelf</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--<li>-->
                        <!--<a href="#">About</a>-->
                    <!--</li>-->
                </ul>
                <div class="col-sm-3 col-md-3 pull-left">
                    <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Пошук" name="srch-term" id="srch-term">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                    </form>
                </div>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a  href="{% url 'webbooks:book_profile' user.pk %}"><span class="glyphicon glyphicon-list"></span>Моя бібліотека</a>
                    </li>
                     <li> <a href="">Профіль: {{user}}</a></li>
                    <li><a href="{% url 'webbooks:logout' %}">Вихід</a></li>
                </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'webbooks:registration' %}">Реєстрація</a></li>
                    <li class="dropdown">
                     <a href="http://www.jquery2dotnet.com" class="dropdown-toggle" data-toggle="dropdown">Вхід<b class="caret"></b></a>
                     <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                        <li>
                           <div class="row">
                              <div class="col-md-12">
                                 <form class="form" role="form" method="post" action="{% url 'webbooks:login' %}" accept-charset="UTF-8" id="login-nav">
                                    {% csrf_token %}
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                       <input name="username" class="form-control" id="exampleInputEmail2" placeholder="login" required>
                                    </div>
                                    <div class="form-group">
                                       <label class="sr-only" for="exampleInputPassword2">Password</label>
                                       <input name="password" type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
                                    </div>
                                    <div class="checkbox">
                                       <label>
                                       <input type="checkbox"> Remember me
                                       </label>
                                    </div>
                                    <div class="form-group">
                                       <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </li>
                     </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock %}



    <!-- Page Content -->
    <div id="content" class="container">
        <div class="row">
            <div class="col-md-3">
                {% block genre %}
                <p class="lead">Категорії</p>
                <div class="list-group">
                    {% for genre in genres%}
                    <form action=".">

                        <a href="?genre={{genre.id}}" class="list-group-item">{{genre.genre}}</a>
                    </form>
                    {% endfor %}
                </div>
                {% endblock %}
            </div>

            <div class="col-md-9">
                {% block content %} {% endblock %}

                {% if is_paginated %}
                    <a href='?page=1' class="btn btn-success"><b>Перша</b></a>
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success"><span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span></a>
                    {% endif %}
                    <div class="btn btn-success"><b>{{ page_obj.number }} - {{ page_obj.paginator.num_pages }}</b></div>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success"><span class="glyphicon glyphicon-chevron-right"></span><span class="glyphicon glyphicon-chevron-right"></span></a>
                    {% endif %}
                    <a href='?page=last' class="btn btn-success"><b>Остання</b></a>
                {% endif %}
                <br><br>
                <div>
                    <h3>Top books</h3>
                    <div class="carousel slide" id="myCarousel">
                        <div class="carousel-inner">
                            <div class="item active">

                            </div>
                            {% for book in top %}
                            <div class="item">
                                <div class="col-xs-3 thumbnail">
                                    <img src="{{book.cover.url}}">
                                    <h4><a href="{% url 'webbooks:book_detail' book.id %}">{{book.tittle}}</a></h4>
                                        <p><b>Автор</b>: {{book.author}}</p>
                                        <p><b>Жанр</b>: {{book.genre}}</p>
                                        <p><b>Автор</b>: {{book.author}}</p>
                                    <div class="caption_anotation">
                                        <b>Опис:</b> <p>{{book.annotation}}</p>
                                    </div>
                                    <div id="rating"">
                                        <input id="input_rating"  name="{{book.id}}"  value='{{book|rating_books}}' class="rating" data-size="xs" step=0.5 data-readonly="True" >
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>



    {% block base_js %}
            <!-- jQuery -->
        <script src="{% static 'book_store/js/jquery.js' %}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'book_store/js/bootstrap.min.js' %}"></script>
    	<script type="text/javascript" src="{% static 'webbooks/js/template.js' %}"></script>
    {% endblock %}

    {% block rating_js %}
        <script src="{% static 'kartik_bootstrap_rating/js/star-rating.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'kartik_bootstrap_rating/js/my_rating.js' %}" type="text/javascript"></script>
    {% endblock %}

    {% block js %}{% endblock %}
</body>
</html>