{% extends "base.html" %}
{% load staticfiles %}
{% load books_tag %}

{% load comments %}

{% block js %}
    <script type="text/javascript" src="{% static 'webbooks/js/books_ajax.js' %}"></script>
{% endblock %}

{% block css %}
    <!-- Custom CSS -->
    <link href="{% static 'blog_post/css/blog-post.css' %}">
    <link rel="stylesheet" href="{% static 'book_store/css/shop-homepage.css' %}" >
	<link rel="stylesheet" href="{% static 'webbooks/css/template.css' %}" type="text/css" media="all" />
{% endblock %}
{% block genre %}{% endblock %}
{% block content %}
    <p class="lead">{{book.tittle}}</p>
    <div id="books" class="thumbnail">
        <img src="{{book.cover.url}}">
        <h4><a href="{% url 'webbooks:book_detail' book.id %}">{{book.tittle}}</a></h4>
        <ul>
            <li>Автор: {{book.author}}</li>
            <li>Жанр: {{book.genre}}</li>
            <li>Автор: {{book.author}}</li>
        </ul>
        <div class="caption_anotation">
            <b>Опис:</b> <p>{{book.annotation}}</p>
        </div>
        <div id="rating"">
            <input id="input_rating"  name="{{book.id}}"  value='{{book|rating_books}}' class="rating" data-size="xs" step=0.5
                   {% if not user.is_authenticated %} data-readonly="True"  {% endif%} >
        </div>
        {% if user.is_authenticated %}
            <p id="rating_view" class="rating_view">
                <span name="you_mark">Ваша оцінка: {{book|you_rating_books:user}}</span>
                <span name="view" class="view">view({{book.books_rating.count}})</span>

            </p>
            {% if user in book.favourite_books.all %}
            <button type="button" id="{{book.id}}" name="remove" class="btn btn-link">remove</button>
            {% else %}
            <button type="button" id="{{book.id}}" name="add" class="btn btn-link">add</button>
            {% endif %}
        {% endif%}
    </div>



    <!-- Comments Form -->
    <div class="well">
        <h4>Leave a Comment:</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <hr>

    <!-- Posted Comments -->

    <!-- Comment -->
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Start Bootstrap
                <small>August 25, 2014 at 9:30 PM</small>
            </h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </div>

    <!-- Comment -->
    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
        </a>
        <div class="media-body">
            <h4 class="media-heading">Start Bootstrap
                <small>August 25, 2014 at 9:30 PM</small>
            </h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            <!-- Nested Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">Nested Start Bootstrap
                        <small>August 25, 2014 at 9:30 PM</small>
                    </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
            <!-- End Nested Comment -->
        </div>
    </div>




<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fluent_comments/css/ajaxcomments.css" />
<script type="text/javascript" src="{{ STATIC_URL }}fluent_comments/js/ajaxcomments.js"></script>

{% get_comment_count for book as comment_count %}
{% render_comment_list for book %}
{% render_comment_form for book %}

{% endblock %}
