{% extends "base.html" %}
{% load staticfiles %}
{% load books_tag %}


{% block js %}
	<script type="text/javascript" src="{% static 'webbooks/js/books_ajax.js' %}"></script>
{% endblock %}

{% block css %}
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'book_store/css/shop-homepage.css' %}" >
{% endblock %}



{% block content %}
    <p class="lead">Книги</p>
    <div id="books" class="row">
        {% if object_list %}
            {% for book in object_list %}
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail">
                    <img src="{{book.cover.url}}">
                    <h4><a href="{% url 'webbooks:book_detail' book.id %}">{{book.tittle}}</a></h4>
                    <ul>
                        <li>Автор: {{book.author}}</li>
                        <li>Жанр: {{book.genre}}</li>
                        <li>Автор: {{book.author}}</li>
                    </ul>
                    <div class="caption_anotation">
                        <b>Опис:</b> <p>{{book.annotation}}</p>
                    </div>
                    <div id="rating"">
                        <input id="input_rating"  name="{{book.id}}"  value='{{book|rating_books}}' class="rating" data-size="xs" step=0.5 data-show-clear="false"
                               {% if not user.is_authenticated %} data-readonly="True"  {% endif%} >
                    </div>
                    {% if user.is_authenticated %}
                        <p id="rating_view" class="rating_view">
                            <span name="you_mark">Ваша оцінка: {{book|you_rating_books:user}}</span>
                            <span name="view" class="view">view({{book.books_rating.count}})</span>
                        </p>
                        {% if user in book.favourite_books.all %}
                        <button type="button" id="{{book.id}}" name="remove" class="btn btn-link">remove</button>
                        {% else %}
                        <button type="button" id="{{book.id}}" name="add" class="btn btn-link">add</button>
                        {% endif %}
                    {% endif%}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>table is empty</p>
        {% endif %}
    </div>
{% endblock %}